<%- include("partials/header") -%>
<br>
<br>
<p><strong><%=about %></strong></p><br>
<ul style="background-color: rgb(179, 247, 230);
text-align: left">
 <li>
  <strong>This website was made for posting movie reviews on the internet.</strong>
 </li>
 <br>
 <li>
<strong>It helps people to share their opinions on any movie they might watch</strong>
 </li>
<br>
 <li>
<strong>They can rate their movie, write a review for all the visitors to see.</strong>
 </li>
<br>
 <li>
<strong>Thank you for visiting!!!!!!!!!</strong>
 </li>