<%- include("partials/header") -%><br><br>
<h3><%=contact %></h3><br>
<ul style="background-color: rgb(179, 247, 230);
text-align: left">
    <li><a href = "mailto: shylesh201@gmail.com"><strong>Email</strong></a></li>
    <li><a href='https://www.linkedin.com/in/sri-shylesh-tirumani-aasuri-305b34194/'> <strong>Linkedin</strong></a> </li>
    <li><a href='https://github.com/Sri-Shylesh'><strong>GitHub</strong></a> </li>
</ul>

